body {
  font-family: "TT Lakes";
  font-weight: normal;
  font-style: normal;
  margin: 24px;
  padding: 0;
  background: rgb(248, 248, 248);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(217, 255, 245);
}

.header:first-child {
  padding-left: 10px;
}

.header__divider {
  margin-right: 10px;
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: rgb(234, 234, 234);
}

.header__button {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: rgb(255, 62, 121);
}

.header__logo {
  margin-right: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  box-sizing: border-box;
}

.navigation::-webkit-scrollbar {
  display: none;
}

.navigation__item {
  padding: 8px 16px;
  display: block;
  color: rgb(126, 126, 130);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
}

.navigation__item--active {
  border: 2px solid rgb(184, 255, 236);
  border-radius: 6px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  column-gap: 24px;
}

.about__content {
  margin-right: 40px;
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: left;
}

.about__image {
  border-radius: 6px;
  width: 50%;
  object-fit: contain;
}

.about__link {
  width: 124px;
  height: 24px;
  display: block;
  color: rgb(27, 28, 33);
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 10px;
}

.about__link-icon {
  margin: 0px 8px 0px 8px;
}

@media (max-width: 500px) {
  .header__navigation {
    display: none;
  }
  .about {
    flex-direction: column;
    gap: 20px;
  }
  .about__image {
    border-radius: 6px;
    width: 100%;
    object-fit: contain;
  }
  .about__content {
    margin: 0;
  }
  .about__content {
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .header-side {
    display: block;
  }
}
